/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// --------

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
    text-align: center;
}

h2{
    font-size: 64px;
    line-height: 84px;    
}

img{
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.banner{
    background: url(./pic/banner.png) no-repeat top center/ auto 958px;
    height: 958px;
    color: #FFF;    
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .p_here{
        font-size: 24px;
        line-height: 32px;
    }
    h1{
        font-size: 80px;
        line-height: 106px;
        margin-top: -68px;
        margin-bottom: 32px;
        font-weight: 900;        
        span{
            font-size: 24px;
            line-height: 42px;
            font-weight: 500;
            vertical-align: bottom;
            display: inline-block;
        }   
    }
    .p_intro{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
        padding-left: 13px;
        padding-right: 8px;
    }
    .link{
        display: flex;
        gap: 16px;
        justify-content: center;
        padding-left: 10px;
        padding-right: 6px;
        a{  
            display: block;
            transition: transform 0.4s;
        }
        a:hover{
            transform:scale(1.3);
        }  
    }
}

.about{
    padding-top: 56px;
    padding-bottom: 56px;
    .h2_about{
        padding-bottom: 20px;
    }
    img{
        width: 384px;
        margin: 20px auto;
    }
    .profile{
        font-size: 24px;
        line-height: 32px;
        
        .li_name{
            margin-bottom: 4px;   
        }
        .li_birth{
            margin-bottom: 8px;
        }
        .li_education{
            margin-bottom: 24px;
            line-height: 36px;
        }   
    }     
    .workExp{
        display: inline-block;
        border-top: 1px solid #000;
        padding-right: 22.2px;
        padding-left: 22.2px;
    }
    
    .dot{
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-top: 28px;
        display: flex;
        justify-content: center;
    }
    .dot::before{
        content:"";
        width: 22px;
        height: 22px;
        background: #891818;
        border-radius: 50%;
        margin-right: 16px;
    }  
}

.brand{
    padding-top: 56px;
    padding-bottom: 160px;
    background: #000;
    color: #fff;
    .h2_brand{
        margin-bottom: 12px;
    }    
    .h3_brand{
        font-size: 24px;
        line-height: 32px;    
        margin-bottom: 32px;
    }
    
    .p_intro{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 68px;
        font-weight: 400;
    }
    
    .ul_brand{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 24px;
    }
}

.other_works{
    .container{
        padding-top: 56px;
        padding-bottom: 144px;
    }    
    .h2_otherWorks{
        margin-bottom: 16px;
    }    
    .intro{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 56px;
    }    
    .ul_otherWorks{
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px; 
        h3{
            font-size: 20px;
            line-height: 28px;
            margin-top: 16px;
        }     
    }
}

.contact{
    background: #000;    
    color: #FFF;
    padding-top: 64px;  
    padding-bottom: 64px; 
    .h2_contact{
        font-size: 64px;
        line-height: 84px;
    }
    li{
        margin-top: 16px;  
    }
    a{
        font-size: 24px;
        line-height: 33px;
        
        color: #FFF;
        text-decoration: none;
    }
    a:hover{
        opacity: 0.5;
    }
}